html {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;

}

.del {
display: inline;

}
.del {
text-align: left;
}
.ico {
  float:right;


}

p {
  text-indent: 5%;
}
.pri {
  float: right;
}
.note {
  background-image: url("images/list-bg.png");

}
.end {
  text-align: center;
  margin-right: 100px;

}
